In [1]:
import pandas as pd

# input Data

F =  {
    'a':[1,0,1,1,0],
    'b':[1,1,0,1,0],
    'c':[0,0,1,1,0],
    'd':[1,1,0,1,1]
}

df = pd.DataFrame(F)
df

   a  b  c  d
0  1  1  0  1
1  0  1  0  1
2  1  0  1  0
3  1  1  1  1
4  0  0  0  1

In [2]:
# define function support
import numpy as np 

def support(v):
    data = []

    #initialize array with first item 
    firstEntry = df[v[0]].tolist()
    array = np.array(firstEntry).reshape(-1,1)

    # initialize initialRows
    initialRows= len(array)

    
    #transform input into array 
    for i in range(1,len(v)):
        listEntry = df[v[i]].tolist()
        #data.append(df[a].tolist())
        
        array = np.column_stack([array,listEntry])
    # delete zeros from array

    #iterate through colummns 
    for c in range(len(array[0])):
        # Locate zeros
        zeros = [] # list rows to delete 
        for i in range(len(array)):
            if(array[i][c] == 0):
                zeros.append(i)
    
        # delete rows
        deleted_rows = 0;
        for n in zeros:
            array = np.delete(array,n-deleted_rows,axis=0)
            # to refactor zeros (-1), track how many columns were deleted
            deleted_rows+=1; 
    # calculate support vector 
    
    #quantity 
    t = len(array)
    
    supp = t/initialRows
    
    
    return round(supp,3)

input = ["a"]; 

support(input)

0.6

In [8]:
support(["b","c"])

0.2

In [4]:
support(["a","c"])

0.4

In [5]:
input = ["b","c","d"]; 

support(input)

0.2

In [11]:
#ğ‘ ğ‘¢ğ‘ğ‘ğ‘œğ‘Ÿğ‘¡({ğ‘}â‡’{ğ‘‘}) 

support(["a","d"])

0.4

In [14]:
#ğ‘ğ‘œğ‘›ğ‘“({ğ‘}â‡’{ğ‘‘})
support(["a","d"])/support(["d"])

0.5

In [12]:
#ğ‘ ğ‘¢ğ‘ğ‘ğ‘œğ‘Ÿğ‘¡({ğ‘,ğ‘}â‡’{ğ‘})

support(["a","b","c"])

0.2

In [13]:
#ğ‘ğ‘œğ‘›ğ‘“({ğ‘,ğ‘}â‡’{ğ‘})

support(["a","b","c"])/support(["c"])

0.5